body {
    background-color: #CCCCCC;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    margin: 0px auto;
    max-width: 700px;
    border: solid;
    border-color: #FFFFFF;
    margin-top: 200px;
}

article {
    background-color: #eee;
    display: block;
    margin: 10px;
    padding: 10px;
}

form label {
    display: inline-block;
    width: 100px;
}

form div {
    margin-bottom: 10px;
}

.error {
    color: red;
    margin-left: 5px;
}

label.error {
    display: inline;
}

.btn-black {
    background-color: #007ED9;
    color: #FFF;
    margin-left: 25%;
}

    .btn-black:hover {
        color: #FFF;
    }
